:root {
  --color-primary-50: 243, 244, 246;
  --color-primary-100: 231, 234, 236;
  --color-primary-200: 195, 202, 208;
  --color-primary-300: 158, 171, 180;
  --color-primary-400: 86, 107, 124;
  --color-primary-500: 13, 44, 68;
  --color-primary-600: 12, 40, 61;
  --color-primary-700: 8, 26, 41;
  --color-primary-800: 6, 20, 31;
  --color-primary-900: 4, 13, 20;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~/assets/fonts/SplineSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/SplineSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~/assets/fonts/SplineSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~/assets/fonts/SplineSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/SplineSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
}

.lg-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'large' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-aos='animation-scale-x-left'] {
  -webkit-transform: translateX(-50px) scaleX(1.1);
  -ms-transform: translateX(-50px) scaleX(1.1);
  transform: translateX(-50px) scaleX(1.1);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-scale-x-left'].aos-animate {
  -webkit-transform: translateX(0) scaleX(1);
  -ms-transform: translateX(0) scaleX(1);
  transform: translateX(0) scaleX(1);
  opacity: 1;
}

[data-aos='animation-scale-x-right'] {
  -webkit-transform: translateX(50px) scaleX(1.1);
  -ms-transform: translateX(50px) scaleX(1.1);
  transform: translateX(50px) scaleX(1.1);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-scale-x-right'].aos-animate {
  -webkit-transform: translateX(0) scaleX(1);
  -ms-transform: translateX(0) scaleX(1);
  transform: translateX(0) scaleX(1);
  opacity: 1;
}

[data-aos='animation-scale-y'] {
  -webkit-transform: translateY(40px) scaleY(1.4);
  -ms-transform: translateY(40px) scaleY(1.4);
  transform: translateY(40px) scaleY(1.4);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-scale-y'].aos-animate {
  -webkit-transform: translateY(0) scaleY(1);
  -ms-transform: translateY(0) scaleY(1);
  transform: translateY(0) scaleY(1);
  opacity: 1;
}

[data-aos='animation-scale-x'] {
  -webkit-transform: translateX(-40px) scaleX(1.1);
  -ms-transform: translateX(-40px) scaleX(1.1);
  transform: translateX(-40px) scaleX(1.1);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-scale-x'].aos-animate {
  -webkit-transform: translateX(0) scaleX(1);
  -ms-transform: translateX(0) scaleX(1);
  transform: translateX(0) scaleX(1);
  opacity: 1;
}

[data-aos='animation-translate-y'] {
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos='animation-translate-y'].aos-animate {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

/* Fix Aspect Ratio Gallery */

.blueimp-gallery > .slides > .slide > .slide-content {
  width: 80% !important;
  height: auto !important;
}

.btn-gradient-primary {
  background: linear-gradient(90deg, #06B6D4 0%, #0EA5E9 100%);
}

.btn-gradient-primary:hover {
  background: linear-gradient(90deg, #0EA5E9  0%, #06B6D4 100%);
}

.bg-gradient-secondary{
  background: linear-gradient(90deg, #8be2f1 0%, #a3e2ff 100%);
}

.bg-gradient-secondary:hover {
background: linear-gradient(90deg, #a3e2ff 0%, #8be2f1 100%);
}
